**
!package.json
!package-lock.json
!angular.json
!tsconfig*.json
!.postcssrc.json
!nginx.conf
!src/
!src/**
!public/
!public/**
**/.env*
**/secrets/**
**/*.[pP][eE][mM]
**/*.[kK][eE][yY]
**/*.pfx
**/*.p12
**/*.jks
